
<!DOCTYPE html>
<head>
<title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" href="/css/bootstrap.min.css" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="/css/style copy.css" rel='stylesheet' type='text/css' />
<link href="/css/style-responsive.css" rel="stylesheet"/>
<!-- font CSS -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="/css/font.css" type="text/css"/>
<link href="/css/font-awesome.css" rel="stylesheet"> 
<link rel="stylesheet" href="/css/morris.css" type="text/css"/>
<!-- calendar -->
<link rel="stylesheet" href="/css/monthly.css">
<!-- //calendar -->
<!-- //font-awesome icons -->
<script src="js/jquery2.0.3.min.js"></script>
<script src="js/raphael-min.js"></script>
<script src="js/morris.js"></script>
</head>
<body>
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">
    <a href="index.html" class="logo">
      ADMIN
    </a>
    
</div>
<!--logo end-->

<div class="top-nav clearfix">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder=" Search">
        </li>
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img alt="" src="/images/2.png">
                <span class="username">John Doe</span>
                <b class="caret"></b>
            </a>
           
        </li>
			
<form action="/admin/logout" method="post">
						<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log-out</button>
					</form>
				
        <!-- user login dropdown end -->
       
    </ul>
    <!--search & user info end-->
</div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/admin">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
								
						  
                <li>
                    <a href="/admin/users">
                        <i class="fa fa-bullhorn"></i>
                        <span>Users </span>
                    </a>
                </li>

								<li>
									<a href="/admin/products">
											<i class="fa fa-th"></i>
											<span>Products </span>
									</a>
							</li>
                
              <li>
								<a href="/admin/category">
										<i class="fa fa-tasks"></i>
										<span>Category </span>
								</a>
						</li>  
						

						<li>
							<a href="/admin/orders">
									<i class="fa fa-cc-mastercard"></i>
									<span>Orders </span>
							</a>
					</li> 

					<li>
						<a href="/admincoupon">
								<i class="fa fa-suitcase"></i>
								<span> Coupons</span>
						</a>
				</li>

				<li>
					<a href="/bannerAdmin">
							<i class="fa fa-book"></i>
							<span> Banner</span>
					</a>
			</li>

			<li>
				<a href="/admin/return">
								<i class="fa fa-edit"></i>
								<span> Return</span>
				</a>
</li>

              
            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<!-- //market-->
		<div class="market-updates">
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-2">
					<div class="col-md-4 market-update-right">
						<i class="fa fa-eye"> </i>
					</div>
					 <div class="col-md-8 market-update-left">
					 <h4>Download Sales Report</h4>
					 <form action="/salesReport" method="get">
						<input type="date" id="Start" name="startDate">
						<input type="date" id="end" name="endDate">
						<input type="submit" class="btn btn-primary">
					</form>

					<form action="/salesReportPdf" method="get">
						<input type="date" id="Start" name="startDate" >
						<input type="date" id="end" name="endDate" >
						<button type="submit" class="btn btn-primary">Download PDF</button>
					</form>
				  </div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-1">
					<div class="col-md-4 market-update-right">
						<i class="fa fa-users" ></i>
					</div>
					<div class="col-md-8 market-update-left">
					<h4>Users</h4>
						<h3>4</h3>
						<p>Other hand, we denounce</p>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-3">
					<div class="col-md-4 market-update-right">
						<i class="fa fa-usd"></i>
					</div>
					<div class="col-md-8 market-update-left">
						<h4>Sales</h4>
						<h3>24</h3>
						<p>Other hand, we denounce</p>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-4">
					<div class="col-md-4 market-update-right">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</div>
					<div class="col-md-8 market-update-left">
						<h4>Orders</h4>
						<h3>32</h3>
						<p>Other hand, we denounce</p>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
		   <div class="clearfix"> </div>
		</div>	
		<!-- //market-->
		<div class="row">
			<div class="panel-body">
				<div class="col-md-12 w3ls-graph">
					<!--agileinfo-grap-->
						<div class="agileinfo-grap">
							<div class="agileits-box">
								<header class="agileits-box-header clearfix">
									<h3>Visitor Statistics</h3>
										<div class="toolbar">
											
											
										</div>
								</header>
								<div class="agileits-box-body clearfix">
									<div id="hero-area"></div>
								</div>
							</div>
						</div>
	<!--//agileinfo-grap-->

				</div>
			</div>
		</div>
		<div class="agil-info-calendar">
		<!-- calendar -->
		<div class="container">
			<div class="row">
				<div class="col-12 ms-5 px-5">
					<div style="margin-left: 200px; margin-top: 60px">
						<canvas
							id="myChart"
							style="width: 100%; max-width: 420px" labelsWithoutYearAndMounth="<%= labelsWithoutYearAndMounth %>" data="<%= data %>"
						></canvas>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12 ms-5 px-5">
					<div style="margin-left: 200px; margin-top: 60px">
						<canvas id="barchart" style="width: 100%; max-width: 420px" mountData='<%= mountData %>' monthsOfCurrentYear="<%= monthsOfCurrentYear  %>"  ></canvas> 
					</div>
				</div>
			</div>
      </div>

  <!-- / footer -->
</section>
<!--main content end-->
</section>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="js/bootstrap.js"></script>
<script src="js/jquery.dcjqaccordion.2.7.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jquery.slimscroll.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script src="js/jquery.scrollTo.js"></script>
<!-- morris JavaScript -->
<script>

	const chartValue= document.getElementById("myChart");
const dataValue=chartValue.getAttribute('data');
const labelValues=chartValue.getAttribute('labelsWithoutYearAndMounth')

console.log(typeof(dataValue),typeof(labelValues))




      const xValues = ["monday", "tuesday", "wednesday", "thursday", "Friday","saturday","sunday"];
      const yValues = [55, 49, 44, 24, 15,36,33];
      const barColors = ["red", "green", "blue", "orange", "brown","yellow","blue"];

      new Chart("myChart", {
        type: "bar",
        data: {
          labels:labelValues.split(',') ,
          datasets: [
            {
              backgroundColor: barColors,
              data:dataValue.split(',') ,
            },
          ],
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: "World Wine Production 2018",
          },
        },
      });
    </script>
    <script>
			//   const labels = Utils.months({ count: 7 });
				const chart = document.getElementById("barchart");
				const mountData=chart.getAttribute('mountData');
				const monthsOfCurrentYear=chart.getAttribute('monthsOfCurrentYear')
				const data = {
					labels:  monthsOfCurrentYear.split(','),
					datasets: [
						{
							label: "My First Dataset",
							data: mountData.split(','),
							backgroundColor: [
								"rgba(255, 99, 132, 0.2)",
								"rgba(255, 159, 64, 0.2)",
								"rgba(255, 205, 86, 0.2)",
								"rgba(75, 192, 192, 0.2)",
								"rgba(54, 162, 235, 0.2)",
								"rgba(153, 102, 255, 0.2)",
								"rgba(201, 203, 207, 0.2)",
							],
							borderColor: [
								"rgb(201,52,244)",
								"rgb(255, 159, 64)",
								"rgb(255, 205, 86)",
								"rgb(75, 192, 192)",
								"rgb(54, 162, 235)",
								"rgb(153, 102, 255)",
								"rgb(201, 203, 207)",
							],
							borderWidth: 1,
						},
					],
				};
				const config = {
        type: "bar",
        data: data,
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      };

      new Chart(chart, config);
			</script>	
   
	<!-- //calendar -->
</body>
</html>
