
<!DOCTYPE html>
<html lang="zxx">



<head>

    <title>Workspace Sign Up Form Flat Responsive Widget Template :: W3layouts</title>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="/style.css" type="text/css" media="all">


    <link rel="stylesheet" href="/font-awesome.min.css" type="text/css" media="all">

    <link href="//fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">


    <style>
		.error-message {
			color:red;
			text-align: center;
		}
		</style>
</head>




<body>
    <section class="main">
        <div class="bottom-grid">
            <div class="logo">
                <h1><a href="index.html">Login Form</a></h1>
            </div>
        </div>
  
        <div class="w3lhny-register">
            <div class="iconhny">
                <span class="fa fa-user-plus"></span>
            </div>
            <form action="/login" method="post" class="register-form" onsubmit="return validateForm();">
                <fieldset>
                    <div class="form">
                        <div class="form-row">
                            <span class="fa fa-envelope"></span>
                            <p id="email-error" style="color: red;"></p>
                            <input type="email" class="form-text" name="email" id="email" placeholder="Email Address">
                        </div>
                        <div class="form-row">
                            <span class="fa fa-lock"></span>
                            <p id="password-error" style="color: red;"></p>
                            <input type="password" class="form-text" name="password" id="password" placeholder="Password">
                        </div>
                        <div class="form-row button-login">
                            <button class="btn btn-login">Login</button>
                        </div>
                        <% if (typeof error !== 'undefined') { %>
                            <p class="error-message"><%= error %></p>
                        <% } %>
                    </div>
                </fieldset>
            </form>
            <div id="email-error" class="error-message" style="color: red;"></div>
            <div id="password-error" class="error-message" style="color: red;"></div>
            <div id="generic-error" class="error-message" style="color: red;"></div>

            
            
            <span class="create-account"></span>
            <p class="already">forgot password? <a href="forgot">Click</a></p>
            <p class="already">Don't have an account?  <a href="signup">Sign Up</a></p>
        </div>

        <div class="w3l-copyright">
            <p>© 2020 Workspace Sign Up Form. All rights reserved | Design by <a href="http://w3layouts.com">Midhun</a>
            </p>
        </div>
    </section>

    <script>
        function validateForm() {
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            var valid = true;
    
      
            document.getElementById("email-error").innerHTML = "";
            document.getElementById("password-error").innerHTML = "";
    
            if (email.trim() === "") {
                document.getElementById("email-error").innerHTML = "Email is required";
                valid = false;
            } else if (!validateEmail(email)) {
                document.getElementById("email-error").innerHTML = "Invalid email format";
                valid = false;
            }
    
            if (password.trim() === "") {
                document.getElementById("password-error").innerHTML = "Password is required";
                valid = false;
            }
    
         
            if (!valid) {
                document.getElementById("generic-error").innerHTML = "Invalid email or password. Please check your credentials.";
            }
    
            return valid;
        }
    
        function validateEmail(email) {
            var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            return emailPattern.test(email);
        }
    </script>
    
</body>


</html>