<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>
      Workspace Sign Up Form Flat Responsive Widget Template :: W3layouts
    </title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/style.css" type="text/css" media="all" />

    <link
      rel="stylesheet"
      href="/font-awesome.min.css"
      type="text/css"
      media="all"
    />

    <link
      href="//fonts.googleapis.com/css?family=Mukta:300,400,500"
      rel="stylesheet"
    />

    <style>
      .error-message {
        color: red;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <section class="main">
      <div class="bottom-grid">
        <div class="logo">
          <h1><a href="index.html">Login Form</a></h1>
        </div>
      </div>

      <div class="w3lhny-register">
        <div class="iconhny">
          <span class="fa fa-user-plus"></span>
        </div>

        <form
          action="/newpassword/<%=userr%>"
          method="post"
          onsubmit="return validateForm()"
        >
          <div class="">
            <div class="form-row">
              <p id="password-error" style="color: red"></p>
              <input
                type="password"
                class="form-text"
                name="password"
                id="password"
                placeholder="Password"
                class="input"
              />
              <div class="error-message" id="error-password"></div>
            </div>
          </div>
          <div>
            <div class="form-row">
              <p id="password-error" style="color: red"></p>
              <input
                type="password"
                class="form-text"
                name="conpassword"
                id="password"
                placeholder=" Confirm Password"
                class="input"
              />
            </div>
            <div class="error-message" id="error-conpassword"></div>
          </div>

          <button type="submit" class="signinbutton btn">Confirm</button>
        </form>

        <div id="email-error" class="error-message" style="color: red"></div>
        <div id="password-error" class="error-message" style="color: red"></div>
      </div>

      <div class="w3l-copyright">
        <p>
          © 2020 Workspace Sign Up Form. All rights reserved | Design by
          <a href="http://w3layouts.com">Midhun</a>
        </p>
      </div>
    </section>

    <script>
      function validateForm() {
        const password = document.querySelector('input[name="password"]').value;
        const conpassword = document.querySelector(
          'input[name="conpassword"]'
        ).value;

        const errorPassword = document.getElementById("error-password");
        const errorConPassword = document.getElementById("error-conpassword");

        errorPassword.innerHTML = "";
        errorConPassword.innerHTML = "";

        if (password.trim() === "") {
          errorPassword.innerHTML = "Please Enter Your Password.";
          return false;
        }

        if (password !== conpassword) {
          errorConPassword.innerHTML = "Passwords Do Not Match.";
          isValid = false;
        }

        return true;
      }
    </script>
  </body>
</html>
