<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e_Shopee</title>
    <link rel="stylesheet" href="/css/otp.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body>
    <form action="/otp" method="post">
        <div class="container height-100 d-flex justify-content-center align-items-center">

            <div class="position-relative">
                <div class="card p-2 text-center">
                    <h6>Please enter the one time password <br> to verify your account</h6>


                            <div> <span>A code has been sent</span> <small></small> </div>
                            <div class="error-message">
                                <% if (errorMessage) { %>
                                  <p><%= errorMessage %></p>
                                <% } %>
                              </div>
                            <input type="text" id="otp" name="otp">
                            <!-- <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> <input name="otp" class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" /> <input name="otp" class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1" /> <input  name="otp" class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" /> <input name="otp" class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" /> <input name="otp" class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> <input name="otp" class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1" /> </div> -->
                            <div class="mt-4"> 
                                <form method="post" action="/otp">
                                    <button class="btn btn-danger px-4 validate" type="submit">Submit</button>
                                </form>
                            </div>
                                
                            <div id="countdown">00:30</div>
                            <!-- <div id="hiddenButton" style="display: none;">  Initially hidden -->
                                <!-- <a id="showButton" href="/user/newotp">Resend OTP</a> --> 


                                <div id="hiddenButton" style="display: none;"> <!-- Initially hidden -->
                                    <!-- <a id="showButton" href="/otp/resend">Resend OTP</a> Add the Resend OTP link -->
                                    <!-- <form action="/otp/resend" method="post">
                                        <button id="showButton" class="btn btn-danger">RESEND</button>
                                    </form> -->
                                </div>
                                
                                <!-- <button id="showButton">Show Me!</button> -->
                            </div>
                </div>

            </div>
        </div>
    </form>


    <script>
        let seconds = 30;

        function countdown() {
            const countdownDisplay = document.getElementById('countdown');
            const interval = setInterval(function () {
                countdownDisplay.textContent = seconds;

                if (seconds === 0) {
                    clearInterval(interval);
                } else {
                    seconds--;
                }
            }, 1000);
        }

        countdown(); // Start the countdown when the page loads
    </script>

    <script>
        // Function to show the hidden button after 1 minute
        function showButtonAfterOneMinute() {
            const hiddenButton = document.getElementById('hiddenButton');
            hiddenButton.style.display = 'block'; // Show the hidden button
        }

        // Set a timeout to call the function after 1 minute (60,000 milliseconds)
        setTimeout(showButtonAfterOneMinute, 30000);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>